apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: goserver
  newName: natasevero/gitopsfc
  newTag: fa98c38ff7c04f1cc089e71f9048b3b85c1ecca2
